{:paths ["src"]
 :pods {clj-kondo/clj-kondo {:version "2026.01.12"}}
 :deps {org.babashka/cli {:mvn/version "0.12.86"}
        cheshire/cheshire {:mvn/version "6.2.0"}
        io.github.hive-agi/modex-bb {:git/tag "v0.1.4"
                                     :git/sha "1aff64fb31ff6bbf1ba7863fb947f3e835393a3e"}}
 :tasks
 {server {:doc "Start the clj-kondo MCP server (babashka)"
          :task (exec 'clj-kondo-mcp.server/-main)}}}
